<div style="text-align: right"><strong><i> Dr. Eleanor Gaye</i></strong>
    <br>Awesome Science faculty
    <br>University of Awesome
    <br>Bobtown, CA 99999,
    <br>USA
    <br>Tel: 123-456-7890
    <br>Email: no_reply@example.com
    <br>
    <br>20 January 2016
</div>

<p><i>
        <br>Miss Eileen Dover
        <br>4321 Cliff Top Edge
        <br>Dover, CT9 XXX
        <br>UK
    </i></p>

<h3>Re: Eileen Dover university application</h3>

<body>
    Dear Eileen, <br>
    <br>

    Thank you for your recent application to join us at the University of Awesome's science faculty to study as part of
    your PhD next year. I will answer your questions one by one, in the following sections.

    Starting dates

    We are happy to accommodate you starting your study with us at any time, however it would suit us better if you
    could start at the beginning of a semester; the start dates for each one are as follows:

    <ul>
        <li>First semester: 9 September 2016</li>
        <li>Second semester: 15 January 2017</li>
        <li>Third semester: 2 May 2017</li>
    </ul>

    <br>
    Please let me know if this is ok, and if so which start date you would prefer.
    <br>
    You can find more information about <a href="url">important university dates</a> on our website.
    <br>
    <br>
    Subjects of study
    <br>
    At the Awesome Science Faculty, we have a pretty open-minded research facility — as long as the subjects fall
    somewhere in the realm of science and technology. You seem like an intelligent, dedicated researcher, and just the
    kind of person we'd like to have on our team. Saying that, of the ideas you submitted we were most intrigued by are
    as follows, in order of priority:
    <br>

    <ol>
        <li>Turning H<sub>2</sub>O into wine, and the health benefits of Resveratrol (C<sub>14</sub>H<sub>12</sub>)</li>
        <li>Measuring the effect on performance of funk bassplayers at temperatures exceeding 30°C (86°F), when the
            audience size exponentially increases (effect of 3 × 103 increasing to 3 × 104.)</li>
        <li><abbr title="hyper text">HTML</abbr> and <abbr title="style kaskadowe">CSS</abbr> constructs for representing musical scores.</li>
    </ol>



    <br>
    So please can you provide more information on each of these subjects, including how long you'd expect the research
    to take, required staff and other resources, and anything else you think we'd need to know? Thanks.
    <br>
    <br>

<h3>Exotic dance moves</h3>
<br>
Yes, you are right! As part of my post-doctorate work, I did study exotic tribal dances. To answer your question, my favourite dances are as follows, with definitions:

<figure>
    <blockquote cite="https://www.huxley.net/bnw/four.html">
        University of Awesome motto: <p>"Be awesome to each other."</p>
    </blockquote>
    <figcaption>—The memoirs of Bill S Preston, <cite>Esq</cite></figcaption>
</figure>


</body>