header.logo {
  padding-right: 1em;
  height: 1;
  width: 1;
}


/*h1 {
  color: aquamarine;
  text-align: center;
}

#opis_firmy {
  text-align: center;
}

main {
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
  min-width: 200px;
}

aside > ul {
  list-style: none;
}
aside figure {
  margin: 0;
}

header {
  background: url(.\images\yoal-desurmont-jqgsM3B9Fpo-unsplash.jpg);
}

/* .image-right{
     float: right;
     margin: 0 0 0 1em;
 }

 .image-left{
    float: left;
    margin: 0 1em 0 0;
}

.clearfloat::after {
  clear: both;
  display: table;
  content: "";
} 

.row {
  display: flex;
}
.row .col {
  flex: 1 1 100%;
}
/* Semantic ( Specific ) 
.main-content article.product-content {
  /* width: 60%; 
  flex-grow: 3;
}
.main-content .sidebar {
  flex-shrink: 2;
  width: 400px;
}

aside figure {
  margin: 0;
}
body {
  font-family: "Rajdhani", sans-serif;
  background: gray;
}

ul#menu a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

ul#menu,
ul#menu ul {
  list-style: none;
}

#menu.active a {
  color: hotpink;
}

.navigation_main ul ul {
  left: 0px;
  top: 100px;
  z-index: 100;
  display: none;
  position: absolute;
  background: aqua;
  width: 100%;
}

.navigation_main > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 80px;
  align-content: center;
  align-items: center;
  padding: 0;
}

.navigation_main > ul > li {
  flex: 1 1 100%;
  border-bottom: 1px solid grey;
  padding: 1em;
}

.navigation_main li:hover {
  display: block;
}
*/