
:root {
    --text-color: #666;
    --bg-color:grayscale;
    --primary-color: grey;
    --active-color: var(--primary-color);
    --hover-color: grey;
  }
  
  html {
    font-size: 100%;
  } /*16px*/
  
  body {
    background: var(--bg-color);
    font-family: "Merriweather", serif;
    font-weight: 300;
    line-height: 1.75;
    color: var(--text-color);
    margin: 0;
  }
  
 
  
  p {
    margin-bottom: 1rem;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #333;
    margin: 2rem 0 0.38rem;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 1.383rem;
  }
  
  h2 {
    font-size: 1.296rem;
  }
  
  h3 {
    font-size: 1.215rem;
  }
  
  h4 {
    font-size: 1.138rem;
  }
  
  h5 {
    font-size: 1.067rem;
  }
  
  small,
  .text_small {
    font-size: 0.937rem;
  }
  
  /* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap'); */
  
  .icon {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: "liga";
  
    vertical-align: middle;
  }
  
  /* == Float text and images */
  p {
    /* outline: 1px solid red; */
  }
  
  .image-left {
    float: left;
    margin: 0 1em 0 0;
  }
  
  .image-right {
    float: right;
    margin: 0 0 0 1em;
  }
  
  .clearfloat::after {
    clear: both;
    display: table;
    content: "";
  }
  
  article p {
    text-align: justify;
    /* word-break: normal;
    hyphens: auto; */
  }
  /* == Layout
  ============================== */
  
  .container {
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    min-width: 200px;
  }
  
  aside > ul {
    list-style: none;
  }
  aside figure {
    margin: 5;
  }
  
  /* Utils ( general / reusable ) */
  
  .row {
    /* display: inline-flex; // inline-block */
    display: flex;
  }
  
  .row .col {
    flex: 1 1 100%;
    /* width: 100%;
    flex-grow: 1;
    flex-shrink: 1; */
  }
  
  /* == Layout Semantic ( Specific ) */
  
  header {
    background: url(./images/pexels-aleksandar-pasaric-325185.jpg);
    /* background-size: 120%;
    background-position: 0% 40%; */
    height: 250px;
    background-repeat: no-repeat;
    /* object-fit: cover; <img> */
    background-size: cover;
    background-position: 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  header hgroup {
    height: 60px;
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  
  header hgroup h1 {
    line-height: 1em;
    margin: 0;
  }
  
  header .logo {
    padding-right: 1em;
  }
  
  .main-content article.product-content {
    /* width: 60%; */
    flex-grow: 3;
  }
  .main-content .sidebar {
    flex-shrink: 3;
    width: 200px;
  }
  
  footer .col.footer-navigation {
    flex: 1 2 100%;
  }
  footer .col.contact-section {
    flex: 3 1 100%;
  }
  .contact-section input,
  .contact-section textarea {
    width: 100%;
    padding: 1em;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .footer_container{
    background: rgb(189, 189, 219);
  }
  
  /* == Navigation ============================== */
  
  *:target {
    outline: 1px solid red;
  }
  
  .navigation_main > ul > li:first-child {
    max-width: 30px;
  }
  
  #rozmiary tbody tr:nth-child(odd) {
    background-color: #ddd;
  }
  
  .navigation ul {
    list-style: none;
  }
  
  .navigation li a,
  .navigation li > a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* == UI States - active, hover, disabled ... */
  
  .navigation li.active > a {
    color: var(--primary-color);
  }
  
  .navigation li:hover a {
    color: var(--hover-color);
    text-decoration: underline;
  }
  
  .navigation_main li:hover {
    background-color: black;
  }
  
  
  /* == Sub-menu */
  
  .navigation_main ul ul li{
    height: 2em;
    padding: 1em;
  }
  
  .navigation_main li {
    position: relative;
  }
  
  /* Sub-Sub Menu ( on the right ) */
  ul ul li:hover ul {
    left: 100%;
    top: 0;
    z-index: 200;
  }
  
  /* Sub menu - ( on the bottom ) */
  .navigation_main ul ul {
    left: 0px;
    top: 100%;
    z-index: 100;
    display: none;
    position: absolute;
    background: green;
    width: 100%;
  }
  
  .navigation_main li:hover > ul {
    display: block;
  }
  
  /* == Top Navigation */
  .navigation_main {
    width: 100%;
    background-color:grey;
  }
  
  .navigation_main ul {
    padding: 0;
    margin: 0;
  }
  
  .navigation_main li {
    text-align: center;
  }
  
  /* Top Navigation */
  .navigation_main > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 80px;
    align-content: center;
    align-items: center;
    padding: 0;
  }
  
  .navigation_main > ul > li {
    flex: 1 1 100%;
    border-bottom: 1px solid yellow;
    padding: 1em;
  }
  
